results/
__pycache__
model/__pycache__
query_strategies/__pycache__
query_strategies/VIME/
intermediary/
uncertainty_models/
data/raw_datas/
data/mdata.csv
data/ndata.csv
data/tdata.csv
data/cdata.csv
data/NTMdata.csv
data/df_syn_ano_0429_merge.csv
data/df_syn_ano_0429_merge_partially_labeled.csv
data/inspection-result-code.csv
nohup.out
.ipynb_checkpoints/
logs/
temp/