results/
__pycache__
model/__pycache__
query_strategies/__pycache__
query_strategies/VIME/
intermediary/
uncertainty_models/
data/raw_datas/
data/mdata.csv
data/ndata.csv
data/tdata.csv
data/cdata.csv
data/NTMdata.csv
data/df_syn_ano_0429_merge.csv
data/df_syn_ano_0429_merge_partially_labeled.csv
data/inspection-result-code.csv
data/kdata.csv
analysis/EDA-k.ipynb
analysis/EDA-k-small.ipynb
nohup.out
.ipynb_checkpoints/
logs/
temp/
dataset_transfer.py
main_transfer_v4.py
run.sh
